.mainScreenDiv {
  position: relative;
  height: 100%;
}

.rendererDiv {
  position: relative;
  height: 100%;
}

#mapDiv {
  position: relative;
  height: 820px;
}

.inline {
  display: inline;
}

.filterButton {
  display: block;
  background-color: darkred;
  color: white;
}

.selected {
  background-color: blue;
  color: white;
}
